<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ details.title }}</mat-card-title>
    <mat-card-subtitle>{{ details.titleType }} | {{ details.year }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="card-image"
    [src]="details.image?.url"
    [alt]="details.title"
  >
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
    <p>Episodes: {{ details.numberOfEpisodes || 0 }}</p>
    <p>Running Time: {{ details.runningTimeInMinutes || 0 }}min</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <mat-icon matSuffix>thumb_up</mat-icon>
    </button>
    <button mat-button>
      <mat-icon matSuffix>thumb_down</mat-icon>
    </button>
    <button mat-button>
      <mat-icon matSuffix>share</mat-icon>
      SHARE
    </button>
  </mat-card-actions>
</mat-card>