<header class="container">
    <div class="logo">
        <a class="logo_href" href="#">
            <img src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg" alt="Logo" class="logo__image" />
            <span class="logo__text">LOGO</span>
        </a>
    </div>
    <nav class="navigation">
        <ul class="navigation_list">
            <li class="navigation_item">
                <a href="#" class="navigation_href">Home</a>
            </li>
            <li class="navigation_item">
                <a href="#" class="navigation_href">Movies</a>
            </li>
            <li class="navigation_item">
                <a href="#" class="navigation_href">About</a>
            </li>
            <li class="navigation_item">
                <a href="#" class="navigation_href">Contact</a>
            </li>
        </ul>
    </nav>
</header>