<div class="movies__container">
    <div class="movies__topbar">IMDB Library Search</div>
    <div class="movies__search">
        <mat-form-field appearance="fill" >
            <mat-label>Search with any movie title or cast</mat-label>
            <input matInput placeholder="Begin typing">
            <mat-icon matSuffix>search</mat-icon>
            <mat-hint>At least 3 characters are required to perform the search</mat-hint>
        </mat-form-field>
    </div>
    <div class="movies__results">
        <mat-grid-list cols="12" rowHeight="100px" gutterSize="2rem">
            <mat-grid-tile
                *ngFor="let tile of movieTiles"
                [colspan]="tile.cols"
                [rowspan]="tile.rows"
            >
                <app-movie-tile [details]="tile.details"></app-movie-tile>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>